body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e3bcbc;
}
#root {
  display: flex;
  flex-direction: column;
}
#heading {
  height: 4vmin;
  background-color: #f4d8d8;
  padding: 2vmin;
  margin: 0;
}
#container {
  padding-top: 8vmin;
  display: flex;
  /* align-items: cent; */
  position: relative;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8vmin;
}
.card {
  position: relative;
  width: 42vmin;
  height: 28vmin;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border-radius: 2vmin;
}
.card:hover {
  height: 50vmin;
  box-shadow:0 0.6vmin 2.2vmin rgba(0, 0, 0, 0.6);
}
.image {
  position: relative;
  width: 38vmin;
  height: 25.5vmin;
  top: -10%;
  left: 2vmin;
  border-radius: 2vmin;
  box-shadow: 0 0.6vmin 2.2vmin rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.image > img {
  width: 38vmin;
  height: 25.5vmin;
  object-fit: cover;
  background-position: center;
  border-radius: 2vmin;
}
h1 {
  font-size: 4.5vmin;
  text-align: center;
}
.content {
  position: relative;
  top: -16vmin;
  padding: 6vmin 2vmin 1vmin 1.8vmin;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover .content {
  margin-top: 5.5vmin;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
.buttom-part {
  display: flex;
  align-items: center;
  gap: 5.5vmin;
}
.buttom-part > span {
  font-size: 2.5vmin;
  font-weight: bold;
}
a > button {
  font-size: 1.7vmin;
  cursor: pointer;
  padding: 1.8vmin 3vmin;
  border-radius: .5vmin;
  transition: 0.1s ease;
  border: none;
}
a > button:hover {
  background-color: #d9eed9;
}
